<div id="hero">
    <div class="container">
        <div class="row">
            <div class="six columns">
                <div class="contenido-hero">
                    <h2>Celulares de alta gama</h2>
                    <p>Aceptamos <strong>Mercado Pago</strong> </p>
                    <form action="#" id="busqueda" method="post" class="formulario">
                        <input class="u-full-width" type="text" placeholder="¿Que modelo te interesa?" id="buscador">
                        <input type="submit" id="submit-buscador" class="submit-buscador">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="barra">
    <div class="container">
        <div class="row">
            <div class="four columns icono icono1">
                <p>Sitio 100% seguro<br>
                    Respaldado por mercado pago</p>
            </div>
            <div class="four columns icono icono2">
                <p>La mejor variedad<br>
                    El smartphone a tu medida</p>
            </div>
            <div class="four columns icono icono3">
                <p>Envio Express<br>
                    Mercado envio</p>
            </div>
        </div>
    </div>
</div>

<!---row-->
<div id="lista-cursos" class="container">
    <h1 id="encabezado" class="encabezado">Smartphones</h1>
    <!--items-->
    <div class="row">
        <div class="four columns">
            <div class="card">
                <img src="https://i.postimg.cc/W4dy0LYZ/iphone-12.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Iphone 12</h4>
                    <p>Apple</p>
                    <p class="description-none">Dispositivo movil de Tienda e-commerce</p>
                    <img src="img/estrellas.png">
                    <p class=""><span class=""> <strong>$23,999.00 MXN</strong></span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">Agregar
                        Al Carrito</a>
                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="https://i.postimg.cc/2jGxj92N/huawei-y9a.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Huawei Y9a</h4>
                    <p>Huawei</p>
                    <p class="description-none">Dispositivo movil de Tienda e-commerce</p>
                    <img src="img/estrellas.png">
                    <p class=""><span class=""> <strong>$7,499.00 MXN</strong></span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="2">Agregar
                        Al Carrito</a>
                </div>
            </div>
        </div>
        <div class="four columns">
            <div class="card">
                <img src="https://i.postimg.cc/28vhbHx5/motorola-moto-g9.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Motorola G9</h4>
                    <p>Motorola</p>
                    <p class="description-none">Dispositivo movil de Tienda e-commerce</p>
                    <img src="img/estrellas.png">
                    <p class=""><span class=""> <strong>$7,499.00 MXN</strong></span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="3">Agregar
                        Al Carrito</a>
                </div>
            </div>
            <!--.card-->
        </div>
    </div>
    <!--items-->
    <!--items-->
    <div class="row">
        <div class="four columns">
            <div class="card">
                <img src="https://i.postimg.cc/W1FKkcHk/samsung-galaxy-a7.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Galaxy A7</h4>
                    <p>Samsung</p>
                    <p class="description-none">Dispositivo movil de Tienda e-commerce</p>
                    <img src="img/estrellas.png">
                    <p class=""><span class=""> <strong>$11,359.00 MXN</strong></span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">Agregar
                        Al Carrito</a>
                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="https://i.postimg.cc/wv7FSXYs/samsung-galaxy-s9-xxl.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Galaxy S9</h4>
                    <p>Samsung</p>
                    <p class="description-none">Dispositivo movil de Tienda e-commerce</p>
                    <img src="img/estrellas.png">
                    <p class=""><span class=""> <strong>$19,559.00 MXN</strong></span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="2">Agregar
                        Al Carrito</a>
                </div>
            </div>
        </div>
        <div class="four columns">
            <div class="card">
                <img src="https://i.postimg.cc/q7ZxXN6B/motorola-moto-g4-3.jpg" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h4>Motorola G4</h4>
                    <p>Motorola</p>
                    <p class="description-none">Dispositivo movil de Tienda e-commerce</p>
                    <img src="img/estrellas.png">
                    <p class=""><span class=""> <strong>$4,299.00 MXN</strong></span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="3">Agregar
                        Al Carrito</a>
                </div>
            </div>
            <!--.card-->
        </div>
    </div>
    <!--items-->

</div>
<!--.row-->
</div>