<!DOCTYPE html>
<html lang="en">
<head>
    <title>Carrito</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--color de la barra nav mobil-->
    <meta name="theme-color" content="#E91E63">
    <!--mobile friendly-->
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!---SEO-->
    <link rel="canonical" href="">
    <meta name="author" content="Alvaro Castillo Carreño">
    <meta name="description" content="Prototipo de tienda en linea con carrito de compras realizado con LocalStorage">
    <meta name="keywords"
        content="Alvaro,Castillo,Carreño,ingenerio,sistemas,html,css,js,Shop,Tienda,javascrip,carrito,historial,localstrogare,puebla,mexico,task,tareas,pensamientos">
    <!---Twitter-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@666alvaro">
    <meta name="twitter:creater" content="@666alvaro">
    <meta name="twitter:title" content="My shopping cart">
    <meta name="twitter:description" content="Es una tienda electronica ven prueba el carrito de compra">
    <meta name="twitter:image" content="https://i.postimg.cc/Hs9JFbJs/undraw-online-shopping-ga73.png">
    <!--facebook-->
    <meta name="og:locale" content="es_MX">
    <meta name="og:type" content="website">
    <meta name="og:title" content="carrito">
    <meta name="og:description" content="Es una tienda electronica ven prueba el carrito de compra">
    <meta name="og:url" content="https://mrbanano.github.io/Cart-Shopping-LocalStorage/. ">
    <meta name="og:site_name" content="https://mrbanano.github.io/Cart-Shopping-LocalStorage/. ">
    <meta name="og:image" content="https://i.postimg.cc/Hs9JFbJs/undraw-online-shopping-ga73.png">
    <!--style-->
    <link rel="shortcut icon" href="https://i.postimg.cc/cJrZv3Bs/compras.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
    <!---Style-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <!--Title-->
</head>
<body>
 <nav>nav</nav>
 {{{body}}}
 <footer>footer</footer>
</body>
</html>